@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
  }

  @keyframes appear {
    from {
        opacity: 0;

    }
    to {
        opacity: 100%;
     
    }
  }
  
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

* {
    font-family: Playfair;
}



.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: lightsteelblue;
  clip-path: polygon(
    0% 0vh,     /* Start at the top-left */
    0% 100vh,   /* Extend all the way down */
    100% 10vh,  /* Right side, 10vh below top */
    100% 0vh    /* Top-right corner */
);
    z-index: -1; 
    }
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page-grid-container {
    display: grid;
    position: relative;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: 3fr 4fr 3fr;
    row-gap: 100px;
}


.image-container {
    max-height: 70vh;
    grid-area: aimg;
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers text vertically */
    position: relative; /* Allows stacking */
   
}

.name {
    position: absolute;
    align-self: flex-end;
    font-size: 60px;
    padding: 10px;
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
    animation-delay: 1.5s
}

.about {
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    "aimg ."
    "aimg abouttext"
    "aimg ."
}

.about-image {
    max-height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slide-in 1.5s ease-in-out forwards;
  
    box-shadow: 5px 5px 10px gray;
}

.about-icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.abouttitle {
    font-size: 2rem;
}

.about-text{
    grid-area: abouttext;
    align-self: center;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.portfolio {
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    "aimg ."
    "aimg abouttext"
    "aimg ."
}

.dot1 {
    position: relative;
    animation: bounce 1.5s ease-in-out infinite;
    display: inline-block;
}

.dot2 {
    position: relative;
    animation: bounce 1.4s ease-in-out infinite;
    display: inline-block;
    animation-delay: .1s
}

.dot3 {
    position: relative;
    animation: bounce 1.3s ease-in-out infinite;
    display: inline-block;
    animation-delay: .2s
}

.dot:hover{
    animation-play-state: paused;
}

.portfolio {
    opacity: 0;
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
    "title"
    "stuff"
}

.projectTitle {
    padding-left: 20px;
    width: 100%;
}

.projectHolder {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 30px;
   
}

.projectCard {
    border-radius: 5px;
    margin: auto;
    display: grid;
    height: 370px;
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
 
    box-shadow: 5px 5px 10px gray;
    transition: transform 1s ease-in-out;

}

.projectCard:hover {
    transform: scale(1.05)
}

.projectTop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    background-color: lightpink;
    filter: saturate(.5);
    height: 100%;
    transition: background-color 2s ease-in-out, color 2s ease-in-out;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    text-align: center;

    
}

.projectBottom {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.projectCardHero{
    display: flex;
}

.projectCardTitle {
    flex-basis: 95%;
   
    justify-content: flex-start;
    padding-left: 10px;
}

.projectCardIcon {
    flex-basis: 5%;
    justify-content: flex-end;
    margin-right: 5px;
    align-self: center;
}

.projectCardDescription {
    padding: 10px;
    font-size: x-small
}

.contact {
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    padding: 30px;
    grid-template-areas:
    "left right"

}

.contactLeft {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    min-height: 0;

}

.contactRight {
    
  
    max-height: 70vh;
    
}

.contactRight img {
    border-radius: 5px;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
      box-shadow: 5px 5px 10px gray;
}

.bottom-div {
    width: 100vw;
    background-color: lightsteelblue;
    height: 800px;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.contactTitle {
    font-size: 3rem;
}

@media (max-width: 1120px){

    .page-grid-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about {

    display: block;
    margin: auto;
    position: relative;
    width: 90%;
    height: 100%;
    margin-top: 80px;
 
}

.image-container {
    float: left;
    margin-right: 15px;
    height: 35vw;
    z-index: 2;
}

.about-text {
    position: relative;
    width: 500px;
    max-height: 500px;
    margin: auto;
    border-bottom-left-radius: 5px;
}

.name{
    position: absolute;
    top: -30px; 
    right: -150%; 
    font-size: 50px;
    padding: 10px;
    z-index: 999; 
    white-space: nowrap;
    
}

.projectHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 30px;}

.portfolio {
    opacity: 0;
    display: grid;
    height: 100%;
    margin: auto;
    margin-left: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    justify-items: center;
    grid-template-areas:
    "title"
    "stuff"
}

.projectCard {

    height: 320px;
    width: 320px;

}

.bottom-div {
    width: 100vw;
    background-color: lightsteelblue;
    height: 700px;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.contact {
   padding-left: 0px;

}

}

@media (max-width: 700px){

    .portfolio {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    margin-left: 10px;
    gap: 30px;

    }
.image-container img {
        border-radius: 5px;
}

    .projectHolder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    column-gap: 10px;
    row-gap: 30px;}

 .contact {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "contactLeft"
        "contactRight";
    width: 100vw;
}

.contactLeft{
    width: 100vw;
    height: 500px;
    background-color: lightsteelblue;
    padding: 10px;
    box-sizing: border-box;
    grid-area: contactLeft;
}

.contactRight{
 
    max-height: 500px;
    height: auto;
    grid-area: contactRight;
}


.bottom-div {
   display: none;
}

/*  */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100vw;
}

.image-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    all: unset; /* Resets all styles */
    display: block !important;
    color: black !important;
    font-size: 40px !important;
    position: absolute;
    top: 300px;
}

.about-text {
    width: calc(100vw - 20px);
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    scroll-padding-right: 10px;
}

.contactRight img{
 border-radius: 0px;
}
}


    // New Ideas:

    Originally: Flexbox or Grid, doesn't matter.



    Mediuum size:

    Block container, image floats left, margin whatever.